/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  
    /* Lætur skroll innan síðu taka tíma */
    scroll-behavior: smooth;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Breytur sem skal nota */
  
  :root {
    /* Grunn bilið okkar er 1rem == 16px */
    --spacing: 1rem;
    /* Hámarksbreidd á efni */
    --max-width: 1400px;
  
    --color-primary: #f0f0f8;
  
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;
  
    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
    --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
    --font-family-heading: 'Domine', Georgia, serif;

    --columns: 12;
    --gutter: 30px;
    --offset: 20px; 
  }
  
  /* Leturgerðir */
  
  /* TODO Setja upp leturgerðir */
  
  /* Almennt */

  body {
    color: var(--color-text);
    font-size: var(--font-base-body-px);
    line-height: 1.5;
    font-family: var(--font-family-base);

  }
  
  h1, h2, h3 {
    font-family: var(--font-family-heading);
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }

  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  
  .button {
    display: inline-block;
    border-radius: 6px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 2.5px;
    border-color: var(--color-border);
    background-color: var(--color-border);
    margin-left: 0;
    margin-top: 1em;
  
    /* TODO útlit á button */
  }

  .button-secondary {
    display: inline-block;
    border-radius: 6px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 2.5px;
    border-color: var(--color-primary);
    background-color: var(--color-header);
    margin-left: 0;
    margin-top: 1em;
  
    /* TODO útlit á button */
  }
  
  
  /* Layout */

  .wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    gap: var(--gutter);
    margin: 0 auto;
    max-width: var(var(--max-width));
  }
  
  main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    gap: var(--gutter);
    margin: 0 auto;
    width: calc(100% - (2 * var(--offset)));
    /*background-color: var(--color-primary); */
  }
  
  .kicker {
    font-size: calc(var(--spacing)* 0.875)
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    grid-column: 1 / span 12;
  }


  .info2 {
    display: flex;
    gap: calc(var(--spacing) * 2); 
    flex-direction: column-reverse;
    grid-column: 1 / span 12;
  }
  .info-card img {
    max-width: 100%;
    transform: rotate(3deg);
  }

  .info2 img {
    transform: rotate(-3deg);
  }



  .info-card-texti .button {
    font-size: var(--font-base-size)
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: var(--gutter);
  }

  .cards {
    display: flex;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border: 3px solid var(--color-border);
    margin-bottom: calc(var(--spacing)*2)
  }

  .card :not(img) {
    position: relative;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

  .card a {
    margin: 0;
  }

  .card .card-buttons {
    display: flex;
    flex-direction: row;
    bottom: 0;
    font-size: calc(var(--font-base-size));
    padding-bottom: 0.5em;
  }

  .card img {
    order: -1;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    max-width: 100%;
    height: 300px;
  }

  .card p {
    font-size: calc(var(--font-base-size)*1.1);
    flex: 1;
  }
  .card h3 {
    font-size: calc(var(--font-base-size)*1.3);
  }

  section {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  footer {
    background-color: var(--color-border);
  }

  footer > p {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--color-border);
  }


  /* Header */

  .wrapper > header {
    color: var(--color-header);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("myndir/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

  header h1 {
    font-size: calc(var(--spacing)*4);
    padding-bottom: 0.5em;
  }

  header p {
    font-size: calc(var(--spacing)*1.4);
  }
  
  header .protection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
  }

  header .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    margin: auto;
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-base-size));
    text-align: center;
  }

  /*
  .content h1 {
    font-size: 12rem;
  }
  .content p {
    font-size: 5rem;
  }
  */
  .examples-grid {
    display: grid; 
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    gap: var(--gutter);
  }
  .cards {
    grid-column: 1 / span 12;
    flex-direction: column;
  }

  @media (min-width: 600px) {

      .button-secondary {
        font-size: calc(var(--font-base-size)*1.4);
      }

      .kicker {
        font-size: calc(var(--font-base-size));
      }

      .info {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: var(--gutter);
      }
      .info-card-texti {
        grid-column: 1 / span 6;
      }
      .info-card-texti h2{
        font-size: 1.5rem;
      }
      .info-card-texti p {
        font-size: var(--font-base-body-px)
      }
      .info-card {
        grid-column: 7 / span 6;
      }
      .info-card-texti .button {
        font-size: var(--font-base-body-px)
      }
      .info2 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: var(--gutter);
      }
      
      .info2 .info-card {
        grid-column: 1 / span 6;
      }
      .info2 .info-card-texti {
        grid-column: 7 / span 6;
      }
      .info2 {
        padding-bottom: 0;
      }
      
      .content p {
        font-size: calc(var(--font-base-body-px)*1.5);
      }
      .content h1 {
        font-size: calc(var(--spacing)*4);
      }
      
      .examples h2 {
        font-size: calc(var(--font-base-size)*1.5);
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: var(--gutter);
      }
      .card {
        grid-column: span 6;
        margin-bottom: var(--gutter);
      }
      .card img {
        height: 300px;
      }
      .card h3 {
        font-size: var(--font-base-size);
      }
      .card p {
        font-size: var(--font-base-size);
      }
      .card .card-buttons {
        display: inline-block;
        font-size: var(--font-base-size);
      }

      footer > p {
        font-size: var(--font-base-size);
      }

  }

  @media (min-width: 1000px) {
    .info .info-card-texti {
      grid-column: 2 / span 4;
      margin-top: 5em;
      margin-bottom: 5em;
    }
    .info2 .info-card-texti {
      grid-column: 8 / span 4;
      margin-top: 5em;
      margin-bottom: 5em;
    }
    .card p {
      font-size: 20px;
    }
  }