/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
    margin: 0;
    padding: 0;
  }
  
  /*
  Reiknum stærð á öllum boxum sem border-box.
  Þessu má breyta eða fjarlægja.
  */
  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  .forsidaflex {
    display: flex;
  }

  .sidulisti {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .sidulisti > div {
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  main {
    width: 1200px;
    margin: 0 auto;
  }

  .forsidalisti {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  /* Uppsetning á síðu—layout */
  .content {
    /* Lætur börn .content raða sér með _flexbox_ */
    display: flex;
    /* röðun sé í dálkaröð (niður) */
    flex-direction: column;
  }

  .content > header {
    background-color: #00bfff;
  }
  
  header > h1 {
    width: 1200px;
    margin: 0 auto;
  }
  .content > nav {
  }
  
  .content > main {
    /* Lætur <main> taka allt auka pláss sem er í boði */
    flex: 1;
  }
  
  .content > footer {
    background-color: #00bfff;
    /* position: absolute; */
  }

  footer > p {
    width: 1200px;
    margin: 0 auto;
  }
  
  /* almennar skilgreiningar */
  
  h1, h2 {
    /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
    padding-bottom: 1em;
    padding-top: 1em;
  }
  
  a {
    /* TODO setja almennar skilgreinar fyrir tengla */
    color: black;
  }

  .takalinu {
    text-decoration: none;
  }

  p {
    padding-bottom: 1em;
  }

  img {
    padding-bottom: 1em;
  }

  em {
    padding-bottom: 1em;
  }
  
  /* nav — valmynd */
  
  nav ul {
    /* TODO */
    padding-bottom: 1em;
  }
  
  nav ul li {
    /* TODO */
  }
  
  /* TODO */
  
  
  /* main — meginmál */
  
  /* TODO */
  
  /* töflur */

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #afebff;
  }
  
  table {
    border-spacing: 0;
  }
  
  /* TODO */
  
  /* form */
  form {
    padding-bottom: 0.25em;
  }

  fieldset {
    border-width: 1px;
    border-color: #00bfff;
  }

  input {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  label {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  select {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  legend {
    margin-top: 10em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 22px;
  }

  .button {
    background-color: #afebff;
  }
  
  /* TODO */