/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
    margin: 0;
    padding: 0;
  }
  
  /*
  Reiknum stærð á öllum boxum sem border-box.
  Þessu má breyta eða fjarlægja.
  */
  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  .sidulisti {
    display: flex;
    flex-direction: row;
  }

  .sidulisti > div {
    margin: 10px;
    text-align: center;
    font-size: 20px;
  }
  
  /* Uppsetning á síðu—layout */
  .content {
    /* Lætur börn .content raða sér með _flexbox_ */
    display: flex;
    /* röðun sé í dálkaröð (niður) */
    flex-direction: column;
  }
  
  .content > header {
    background-color: #00bfff;
  }
  
  .content > nav {
  }
  
  .content > main {
    /* Lætur <main> taka allt auka pláss sem er í boði */
    flex: 1;
  }
  
  .content > footer {
    background-color: #00bfff;
    /* position: absolute; */
  }
  
  /* almennar skilgreiningar */
  
  h1, h2 {
    /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
    padding-bottom: 1em;
  }
  
  a {
    /* TODO setja almennar skilgreinar fyrir tengla */
    color: black;
    text-decoration: none;
  }

  p {
    padding-bottom: 1em;
  }

  img {
    padding-bottom: 1em;
  }

  em {
    padding-bottom: 1em;
  }
  
  /* nav — valmynd */
  
  nav ul {
    /* TODO */
    padding-bottom: 1em;
  }
  
  nav ul li {
    /* TODO */
  }
  
  /* TODO */
  
  
  /* main — meginmál */
  
  /* TODO */
  
  /* töflur */
  
  table {
    border-spacing: 0;
  }
  
  /* TODO */
  
  /* form */
  
  /* TODO */