
.button {
  background-color: $color-border;
  border-color: $color-border;
  border-radius: 6px;
  border-radius: 2.5px;
  display: inline-block;
  margin-left: 0;
  margin-top: 1em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.3em;

  /* TODO útlit á button */
}

.button-secondary {
  background-color: $color-header;
  border-color: $color-primary;
  border-radius: 6px;
  border-radius: 2.5px;
  display: inline-block;
  margin-left: 0;
  margin-top: 1em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.3em;

  /* TODO útlit á button */
}
