
.cards {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 12;
}

.card {
  border: 3px solid $color-border;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(#{$spacing} * 2);

  :not(img) {
    margin-left: 0.5em;
    margin-top: 0.5em;
    position: relative;
  }

  a {
    margin: 0;
  }

  .card-buttons {
    bottom: 0;
    display: flex;
    flex-direction: row;
    font-size: $font-base-size;
    padding-bottom: 0.5em;
  }

  img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 300px;
    max-width: 100%;
    order: -1;
  }

  p {
    flex: 1;
    font-size: calc(#{$font-base-size} * 1.1);
  }

  h3 {
    font-size: calc(#{$font-base-size} * 1.3);
  }
}
